{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

<div class="card-footer">
    {{ form_start(registrationForm,{'attr': {'novalidate': 'novalidate'}} ) }}
    {{form_label(registrationForm.name,"Nom") }}
    {{ form_widget(registrationForm.name) }}
    {{form_errors(registrationForm.name) }}
    {{form_label(registrationForm.firstname,"Prenom") }}
    {{ form_widget(registrationForm.firstname) }}
    {{form_errors(registrationForm.firstname) }}
    {{form_label(registrationForm.firstname,"Email") }}
    {{ form_widget(registrationForm.email) }}
    {{form_errors(registrationForm.email) }}
    {{form_label(registrationForm.plainPassword,"Password") }}
    {{ form_widget(registrationForm.plainPassword, {
        label: 'Password'
    }) }}
    {{form_errors(registrationForm.plainPassword) }}
    {{ form_row(registrationForm.agreeTerms) }}

    <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
